[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/root/myvenv/bin/uwsgi -i /srv/final-project/.config/uwsgi/mysite.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
